<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory</title>
    <link rel="stylesheet" href="../FontAwesome/css/all.min.css">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,
        600i,700,700i,800,800i,900,900i&display=swap&subset=devanagari,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

</head>

<body>
    <nav class="navbar-header">
        <div class="container">
            <div class="nav-left">
                <a href="./index.html" class="navbar-brand">
                    <img src="../img/logo.svg" alt="">
                </a>
                <form action="#" class="nav-tabsearch">
                    <span><i class="fa fa-search"></i></span>
                    <input type="text" placeholder="Search" class="form-tabsearch">
                </form>
            </div>
            <button class="nav-menu d-none">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-collapse">
                <ul class="navbar">
                    <li class="nav-item">
                        <a href="#" class="nav-item-home dropdown">Home</a>
                        <div class="dropdown-menu home-dropdown">
                            <a href="#" class="dropdown-item">Rooms</a>
                            <a href="#" class="dropdown-item">Restaurants</a>
                            <a href="#" class="dropdown-item">Travel</a>
                            <a href="#" class="dropdown-item">Real Estate <span class="badge">New</span></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-item-template dropdown">Template</a>
                        <div class="dropdown-menu template-dropdown">
                            <div class="row">
                                <div class="template-menu">
                                    <div class="row template-menu-header">
                                        <div class="col-template-menu">
                                            <h6 class="text-uppercase">Homepage</h6>
                                            <ul class="list-template-menu">
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Rooms</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Restaurants</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Travel</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Real estate <span
                                                            class="badge">New</span></a></li>
                                            </ul>
                                            <h6 class="text-uppercase">Restaurants</h6>
                                            <ul class="list-template-menu">
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Category - Map on the top</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Category - Map on the right</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Category - no map</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Restaurant detail</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-template-menu">
                                            <h6 class="text-uppercase">Rooms</h6>
                                            <ul class="list-template-menu">
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Category - Map on the top</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Category - Map on the right</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Category - no map</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Room detail</a></li>
                                            </ul>
                                            <h6 class="text-uppercase">Blog</h6>
                                            <ul class="list-template-menu">
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Blog</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Post</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-template-menu">
                                            <h6 class="text-uppercase">Pages</h6>
                                            <ul class="list-template-menu">
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Comparison <span
                                                            class="badge">New</span></a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Team<span
                                                            class="badge">New</span></a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Contact</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Pricing</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Text page</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">F.A.Q.s</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Coming soon</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-template-menu">
                                            <h6 class="text-uppercase">Users</h6>
                                            <ul class="list-template-menu">
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Sign in</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Sigh up</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Booking process - 4 pages</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Bookings — grid view</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Booking detail</a></li>
                                            </ul>
                                            <h6 class="text-uppercase">Host</h6>
                                            <ul class="list-template-menu">
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Add new listing - 6 pages</a></li>
                                                <li class="item-template-menu"><a href="#"
                                                        class="link-template-menu">Bookings — list view</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row template-menu-footer">
                                        <div class="services-item">
                                            <div class="services-icon">
                                                <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"
                                                    id="destination-map-1">
                                                    <title>Destination Map</title>
                                                    <desc>A line styled icon from Orion Icon Library.</desc>
                                                    <path
                                                        d="M43.1 17l9.9 9.9M43 27l9.9-9.9m-19.5 7.6a10 10 0 0 1 6.8-2.7M29.7 35.2a10 10 0 0 0 .5-2.9V32a10 10 0 0 1 .9-4.3M21.2 42a10 10 0 0 0 6.6-3.5M9.8 42h7.6M2 42h4"
                                                        stroke-miterlimit="10" stroke="#101010" fill="none"
                                                        data-name="layer2" stroke-linejoin="round"
                                                        stroke-linecap="round" style="stroke:var(--layer1, #101010)">
                                                    </path>
                                                    <path d="M62 10v50l-22-6-16 6-22-6V4l22 6 16-6 22 6z"
                                                        stroke-miterlimit="10" stroke="#101010" fill="none"
                                                        data-name="layer1" stroke-linejoin="round"
                                                        stroke-linecap="round" style="stroke:var(--layer1, #101010)">
                                                    </path>
                                                </svg>
                                            </div>
                                            <div class="services-content">
                                                <h6 class="text-uppercase">Best rentals</h6>
                                                <p class="services-content-paragraph">Find the perfect place</p>
                                            </div>
                                        </div>
                                        <div class="services-item">
                                            <div class="services-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                                    id="money-box-1">
                                                    <title>Money Box</title>
                                                    <desc>A line styled icon from Orion Icon Library.</desc>
                                                    <path data-name="layer1"
                                                        d="M28.8 19.5a21.1 21.1 0 0 0-7.1 2.2c-7.9 4.2-9.2 11-9.2 16.3s2.3 13.1 10.8 20h7.3v-4l8.9.5a20.1 20.1 0 0 0 2.3 3.5h6.7v-6a47.9 47.9 0 0 0 6-5c2.9.3 5.9-2 7-8.7 0-1-.5-1.3-1-1.3a6.8 6.8 0 0 1-3-1c-.4-.5-1.6-4.7-3.8-8a11.7 11.7 0 0 1 4.1-5.2c-2.8-1.4-5.7-2.4-11.4-1.8-1.5-.3-4-.9-6.4-1.3"
                                                        fill="none" stroke="#101010" stroke-miterlimit="10"
                                                        stroke-linejoin="round" stroke-linecap="round"
                                                        style="stroke:var(--layer2, #101010)"></path>
                                                    <circle data-name="layer2" cx="34.5" cy="14" r="8" fill="none"
                                                        stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round"
                                                        stroke-linecap="round" style="stroke:var(--layer2, #101010)">
                                                    </circle>
                                                    <path data-name="layer1"
                                                        d="M12.5 38c-2.9-.3-10-1.4-10 2s1.9 3.4 3.8 2.6 4.3-5.5-3.8-8.6m25.7-8.9a20.1 20.1 0 0 1 12.7-.1"
                                                        fill="none" stroke="#101010" stroke-miterlimit="10"
                                                        stroke-linejoin="round" stroke-linecap="round"
                                                        style="stroke:var(--layer2, #101010)"></path>
                                                    <circle data-name="layer1" cx="48.5" cy="34" r="1" fill="none"
                                                        stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round"
                                                        stroke-linecap="round" style="stroke:var(--layer2, #101010)">
                                                    </circle>
                                                </svg>
                                            </div>
                                            <div class="services-content">
                                                <h6 class="text-uppercase">Earn points</h6>
                                                <p class="services-content-paragraph">And get great rewards</p>
                                            </div>
                                        </div>
                                        <div class="services-item">
                                            <div class="services-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                                    id="customer-support-1">
                                                    <title>Customer Support</title>
                                                    <desc>A line styled icon from Orion Icon Library.</desc>
                                                    <path data-name="layer2"
                                                        d="M24 40.5V44c0 2 .6 5-10.4 7A14.6 14.6 0 0 0 2 62h59a14.3 14.3 0 0 0-11.4-11C39 49 40 46 40 44v-5"
                                                        fill="none" stroke="#101010" stroke-miterlimit="10"
                                                        stroke-linejoin="round" stroke-linecap="round"
                                                        style="stroke:var(--layer1, #101010)"></path>
                                                    <path data-name="layer1"
                                                        d="M46.4 33H51a3.3 3.3 0 0 0 3-3v-7a3.3 3.3 0 0 0-3-3h-5m-28 0h-6a3.3 3.3 0 0 0-3 3v7a3.3 3.3 0 0 0 3 3h5.2"
                                                        fill="none" stroke="#101010" stroke-miterlimit="10"
                                                        stroke-linejoin="round" stroke-linecap="round"
                                                        style="stroke:var(--layer1, #101010)"></path>
                                                    <path data-name="layer2"
                                                        d="M46 18C26 18 26 4 26 4s1 12-8 15m18 43l9.6-12m-27.7 0L28 62M17.9 50a10.8 10.8 0 0 1-4.9-4c4-4 5-20 5-20m28 0s0 16 4 20a10.7 10.7 0 0 1-4.7 4"
                                                        fill="none" stroke="#101010" stroke-miterlimit="10"
                                                        stroke-linejoin="round" stroke-linecap="round"
                                                        style="stroke:var(--layer1, #101010)"></path>
                                                    <path data-name="layer2"
                                                        d="M26 42c-4.7-2.9-8-8.8-8-16V16C18 5.6 25.4 2 32 2s14 3.6 14 14v16c0 4-4 7-6 7"
                                                        fill="none" stroke="#101010" stroke-miterlimit="10"
                                                        stroke-linejoin="round" stroke-linecap="round"
                                                        style="stroke:var(--layer1, #101010)"></path>
                                                    <path data-name="layer1"
                                                        d="M40 38.9a2.9 2.9 0 0 0-2.9-2.9h-2.2a2.9 2.9 0 0 0-2.9 2.9 3 3 0 0 0 2.9 3.1H37a3 3 0 0 0 3-3.1z"
                                                        fill="none" stroke="#101010" stroke-miterlimit="10"
                                                        stroke-linejoin="round" stroke-linecap="round"
                                                        style="stroke:var(--layer1, #101010)"></path>
                                                </svg>
                                            </div>
                                            <div class="services-content">
                                                <h6 class="text-uppercase">020-800-456-747</h6>
                                                <p class="services-content-paragraph">24/7 Available Support</p>
                                            </div>
                                        </div>
                                        <div class="services-item">
                                            <div class="services-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                                    id="secure-payment-1">
                                                    <title>Secure Payment</title>
                                                    <desc>A line styled icon from Orion Icon Library.</desc>
                                                    <path data-name="layer2"
                                                        d="M38 42H4.4A2.4 2.4 0 0 1 2 39.6V12.4A2.4 2.4 0 0 1 4.4 10h43.2a2.4 2.4 0 0 1 2.4 2.4V22M2 18h48m-39.9 8H26m-16 8h7"
                                                        fill="none" stroke="#101010" stroke-miterlimit="10"
                                                        stroke-linejoin="round" stroke-linecap="round"
                                                        style="stroke:var(--layer1, #101010)"></path>
                                                    <path data-name="layer1" fill="none" stroke="#101010"
                                                        stroke-miterlimit="10"
                                                        d="M38 38h24v16H38zm6 0V28a6 6 0 0 1 6-6 6 6 0 0 1 6 6v10m-6 6v4"
                                                        stroke-linejoin="round" stroke-linecap="round"
                                                        style="stroke:var(--layer1, #101010)"></path>
                                                </svg>
                                            </div>
                                            <div class="services-content">
                                                <h6 class="text-uppercase">Secure Payment</h6>
                                                <p class="services-content-paragraph">Secure Payment</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="template-img">
                                    <img src="../img/photo-1521170665346-3f21e2291d8b.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#">Contact</a></li>
                    <li class="nav-item">
                        <a href="#" class="nav-item-docs dropdown">Docs</a>
                        <div class="dropdown-menu docs-dropdown">
                            <h6 class="text-uppercase dropdown-header">Documentation</h6>
                            <a href="" class="dropdown-item">Introduction </a>
                            <a href="" class="dropdown-item">Directory structure </a>
                            <a href="" class="dropdown-item">Gulp </a>
                            <a href="" class="dropdown-item">Customizing CSS </a>
                            <a href="" class="dropdown-item">Credits </a>
                            <a href="" class="dropdown-item">Changelog </a>
                            <div class="dropdown-divider"></div>
                            <h6 class="text-uppercase dropdown-header">Components</h6>
                            <a href="" class="dropdown-item">Bootstrap </a>
                            <a href="" class="dropdown-item">Theme </a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#">Sign in</a></li>
                    <li class="nav-item"><a href="#">Sign up</a></li>
                    <li class="nav-item"><a href="#" class="after-nav">ADD A LISTING</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <section class="header">
            <div class="swiper-container">
                <div class="swiper-slide swiper-slide-1">
                </div>
                <div class="swiper-slide swiper-slide-1">
                </div>
                <div class="swiper-slide swiper-slide-1">
                </div>
                <div class="swiper-slide swiper-slide-1">
                </div>
            </div>
            <div class="content-header">
                <div class="container">
                    <div class="title-header">
                        <p class="content-title-header text-uppercase">The best holiday experience</p>
                        <h1 class="title">Stay like a local</h1>
                    </div>
                    <div class="search-bar">
                        <form action="#">
                            <div class="row">
                                <div class="col-4 form-group has-divider">
                                    <input type="text" name="" id="" placeholder="What are you searching for?">
                                </div>
                                <div class="col-3 form-group has-divider">
                                    <input type="text" name="" id="" placeholder="Location">
                                    <span class="icon"><i class="fa fa-crosshairs"></i></span>
                                </div>
                                <div class="col-3 form-group">
                                    <select name="" id="">
                                        <option value="">Categories</option>
                                        <option value="">Restaurants</option>
                                        <option value="">Hotels</option>
                                        <option value="">Cafes</option>
                                        <option value="">Garages</option>
                                    </select>
                                    <span class="icon">
                                        <i class="fas fa-caret-down"></i>
                                    </span>
                                </div>
                                <div class="col-2 form-group">
                                    <button type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <body>
        <section class="booking">
            <div class="container-fixed">
                <div class="title text-center">
                    <p class="content-title text-uppercase">One-of-a-kind vacation rentals </p>
                    <h2 class="">Booking with us is easy</h2>
                </div>
                <div class="row">
                    <div class="description-booking text-center">
                        <div class="icon-booking">
                            <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" id="destination-map-1">
                                <title>Destination Map</title>
                                <desc>A line styled icon from Orion Icon Library.</desc>
                                <path
                                    d="M43.1 17l9.9 9.9M43 27l9.9-9.9m-19.5 7.6a10 10 0 0 1 6.8-2.7M29.7 35.2a10 10 0 0 0 .5-2.9V32a10 10 0 0 1 .9-4.3M21.2 42a10 10 0 0 0 6.6-3.5M9.8 42h7.6M2 42h4"
                                    stroke-miterlimit="10" stroke="#101010" fill="none" data-name="layer2"
                                    stroke-linejoin="round" stroke-linecap="round"
                                    style="stroke:var(--layer1, #101010)">
                                </path>
                                <path d="M62 10v50l-22-6-16 6-22-6V4l22 6 16-6 22 6z" stroke-miterlimit="10"
                                    stroke="#101010" fill="none" data-name="layer1" stroke-linejoin="round"
                                    stroke-linecap="round" style="stroke:var(--layer1, #101010)"></path>
                            </svg>
                        </div>
                        <h3 class="title-booking-description">Find the perfect rental</h3>
                        <p class="content-booking">One morning, when Gregor Samsa woke from troubled dreams, he found
                            himself
                            transformed in his bed in</p>
                    </div>
                    <div class="description-booking text-center">
                        <div class="icon-booking">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="pay-by-card-1">
                                <title>Pay by Card</title>
                                <desc>A line styled icon from Orion Icon Library.</desc>
                                <path data-name="layer1"
                                    d="M40 20l8.8 8.7C51.2 31.1 52 34.2 52 40c0 8.6-.1 22-.1 22M22 44a20 20 0 0 0 3.3 11.5C28.1 60 28 61.3 28 62"
                                    fill="none" stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round"
                                    stroke-linecap="round" style="stroke:var(--layer2, #101010)"></path>
                                <path data-name="layer2"
                                    d="M29.8 44H14a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h24a2 2 0 0 1 2 2v31M30 2v23"
                                    fill="none" stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round"
                                    stroke-linecap="round" style="stroke:var(--layer2, #101010)"></path>
                                <path data-name="layer1"
                                    d="M44.1 39.1L28.4 23.5a5 5 0 0 0-7 0 5 5 0 0 0 0 7l8.6 8.6s-2.6 8 6 14.9"
                                    fill="none" stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round"
                                    stroke-linecap="round" style="stroke:var(--layer2, #101010)"></path>
                            </svg>
                        </div>
                        <h3 class="title-booking-description">Book with confidence</h3>
                        <p class="content-booking">The bedding was hardly able to cover it and seemed ready to slide off
                            any moment. His many legs, pit</p>
                    </div>
                    <div class="description-booking text-center">
                        <div class="icon-booking">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="heart-1">
                                <title>Heart</title>
                                <desc>A line styled icon from Orion Icon Library.</desc>
                                <path data-name="layer1"
                                    d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z"
                                    fill="none" stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round"
                                    stroke-linecap="round" style="stroke:var(--layer1, #101010)"></path>
                            </svg>
                        </div>
                        <h3 class="title-booking-description">Enjoy your vacation</h3>
                        <p class="content-booking">His room, a proper human room although a little too small, lay
                            peacefully
                            between its four familiar </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-guides">
            <div class="container-fixed">
                <div class="row title">
                    <div>
                        <p class="content-title text-uppercase">Stay and eat like a local</p>
                        <h2>Our guides</h2>
                    </div>
                    <div>
                        <a href="#" class="text-sm text-muted">See all guides<i
                                class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/new-york.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">New York</h6>
                                    <p class="card-text">The big apple</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/paris.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">Paris</h6>
                                    <p class="card-text">Artist capital of Europe</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/barcelona.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">Barcelona</h6>
                                    <p class="card-text">Dalí, Gaudí, Barrio Gotico</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/prague.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">Prague</h6>
                                    <p class="card-text">City of hundred towers</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/new-york.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">New York</h6>
                                    <p class="card-text">The big apple</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/paris.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">Paris</h6>
                                    <p class="card-text">Artist capital of Europe</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/barcelona.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">Barcelona</h6>
                                    <p class="text-sm">Dalí, Gaudí, Barrio Gotico</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/prague.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">Prague</h6>
                                    <p class="card-text">City of hundred towers</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/new-york.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">New York</h6>
                                    <p class="card-text">The big apple</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/paris.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">Paris</h6>
                                    <p class="card-text">Artist capital of Europe</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/barcelona.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">Barcelona</h6>
                                    <p class="card-text">Dalí, Gaudí, Barrio Gotico</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-poster">
                                <a href="" class="title-link"></a>
                                <img src="../img/New folder/prague.jpg" alt="" class="bg-img">
                                <div class="card-content">
                                    <h6 class="card-title">Prague</h6>
                                    <p class="card-text">City of hundred towers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>

                </div>
            </div>
        </section>
    </body>
    <footer>

    </footer>
    <script src="../js/jquery.js"></script>
    <script src="../js/app.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="../js/swiper-slide.js"></script>

</body>

</html>